.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}
h1{
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: azure;
    background-image: url("./0575265b69d277dfb86dc8fcd2ff8b2b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sem1{
  color: blue;
}
.sem2{
  color: blue;
}
.sem3{
  color: blue;
}
.sem4{
  color: blue;
}
.sem5{
  color: blue;
}
.sem6{
  color: blue;
}
.sem7{
  color: blue;
}
.sem8{
  color: blue;
}
.click{
  color: red;
  font-weight: 700;
}

.btn-toggle[aria-expanded="true"]{
  color: blue;
  font-weight: 700;
}
.circle{
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.box{
  display: inline;
  position: relative;
  top: -175px;
  left: 200px;
}
.head{
  padding: 20px;
}


